.hardMode {
    width: 13.6px;
    height: 13.6px;
    border: 1px solid #ebebee;
}

.easyMode {
    width: 45px;
    height: 45px;
    border: 1px solid #ebebee;
}

.normalMode {
    width: 21.5px;
    height: 21.5px;
    border: 1px solid #ebebee;
}


.BoxBlue {
    width: 100%;
    height: 100%;
    background-color: #42d8e8;
}

.BoxRed {
    width: 100%;
    height: 100%;
    background-color: #e85a5f;
}

.BoxGreen {
    width: 100%;
    height: 100%;
    background-color: #00e871;
}